/* LEMAR ANDAR */
/* CSS LIBRARY */

/* Font : NUNITO REGULAR 400 */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    color: #d24d5c;
}

body{
    font-family: 'Nunito', sans-serif;
}

header{
    height: auto;
    text-align: center;
    margin: 50px 75px 0;
}

main{
    margin: 25px 75px;
    padding: 25px;
}

footer{
    margin: 0 75px 50px;
    padding: 25px;
}

a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    color: #bc2739;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2.75rem;
    padding: 10px 0;
}

h3{
    font-size: 2rem;
}

p, ul, ol, li{
    font-size: 1.25rem;
}

table{
    background-color: #ffefb6;
    border-collapse: collapse;
    width: 75%;
    box-shadow: 15px 10px #bc2739;
}

td, th{
    border: solid #d24d5c 3px;
    font-size: 1.25rem;
    color: #d24d5c;
    padding: 5px;
}

tr:hover{
    background-color: #ffcaa7;
}

a:hover{
    background-color: #d46673;
    opacity: 0.5;
}

#background{
    background-image: url(../img/background.png);
}

.couleur{
    background-color: #ffcaa7;
    border: 5px solid #bc2739;
}

.encercler{
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.25rem;
    border: 5px solid #be3545;
    border-radius: 120px;
    background-color: #d24d5c;
    color: #fee58d;
}

.centrerImage{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.centrerTexte{
    text-align: center;
}

.accentuer{
    text-transform: uppercase;
    font-size: 1.40rem;
    color: #f1021e;
}

.desaccentuer{
    color: #d87883;
    font-size: small;
}

.carree{
    background-color: #ffefb6;
    border: #d24d5c;
    display: inline-block;
    box-shadow: 15px 10px #bc2739;
    padding: 10px;
}

.espaceBot{
    margin-bottom: 15px;
}

.espaceLeft{
    margin-left: 15px;
}

.imgFrame{
    border: 10px solid #be3545;
    border-radius: 200px;
    overflow: hidden;
}